body{
    margin: 0;
    padding: 0;
    background-color: green;
}
header, footer{
    width: 100%;    
    background-color: darkgreen;
}
header{
    height: 15vh;
}
footer{
    height: 5vh;
}
.contPrincipal{
    display: flex;
}